block vars
doctype html
html
    head
        title #{title ? title + ' - ' : ''}Roblox Pro
        link(rel="stylesheet" type="text/css" href="../css/web.css")
    body.bg-grey-lighter
        block layout