/** Games **/
.btn-primary-lg,
.btn-secondary-lg,
.btn-branded-robux-white-lg,
.btn-common-play-game-lg
{

    box-shadow: rgba(150, 150, 150, 0.74) 0px 1px 3px !important;

}

.btn-primary-lg
{

    background-color:rgb(46, 204, 113) !important;

}

.btn-primary-lg:hover
{

    background-color:rgba(46, 204, 113, 0.75) !important;

}